<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div ng-controller="RawTableSettingCtrl">
  <ng-form name="forms.rawtable_setting_form">
    <h4 style="margin-left:42px" ng-if="!rawTableColumns.columns.length&&state.mode=='view'">{{dataKylin.cube.noConfigRawTableInfo}}</h4>
    <div>
      <h4 style="margin-left:42px" ng-if="state.mode!='view'&&!isSupportRawTable">{{dataKylin.cube.unSupportRawTable}}</h4>
      <div ng-if="state.mode!='view'&&isSupportRawTable"><input type="checkbox" style="margin-left: 40px" ng-model="wantSetting" ng-change="checkNeedSet()"  id="wantSet"><label for="wantSet" style="margin-left:10px;">{{dataKylin.cube.needConfigRawTable}}</label></div>
      <div class="form-group large-popover"  ng-if="rawTableColumns.columns.length > 0&&wantSetting&&isSupportRawTable">
        <h3 style="margin-left:42px">{{dataKylin.cube.cubeOfRawTable}}</h3>
        <table style="margin-left:42px; width:92%"

               class="table table-hover table-bordered list"
          >
          <thead>
          <tr>
            <th>{{dataKylin.cube.cubeASID}}</th>
            <th style="width:30%;">{{dataKylin.cube.rawtableASColumn}}</th>
            <th style="width:25%;">{{dataKylin.cube.rawtableASTableName}}</th>
            <th style="width:10%;">{{dataKylin.cube.rawtableASEncoding}}</th>
            <th style="width:10%;">{{dataKylin.cube.cubeASLength}}</th>
            <th style="width:15%;">{{dataKylin.cube.rawtableASIndex}}</th>
          </tr>
          </thead>

          <tbody >

          <tr
            ng-repeat="col in rawTableColumns.columns track by $index" ng-class="col.index=='sorted'?'sortedrow':''">

            <td>
              <!-- ID -->
              <span class="ng-binding" ng-class="state.mode=='edit'?'badge':''">{{($index + 1)}}</span>
            </td>
            <td>

              <span >{{col.column}}</span>
            </td>
            <td>{{col.table}}</td>
            <td>
              <div  style="width:100%;" class="chosen-container chosen-container-single " ng-if="state.mode=='edit'">
                <button style="width:100%;" type="button" class="chosen-single dropdown-toggle" data-toggle="dropdown">
                  <span style="float:left;" >{{col.encodingName}}</span>
                </button>
                <ul class="dropdown-menu my-dropdown" role="menu"  style="width:100%;" >
                  <li>
                    <a middle-popover ng-repeat="encoding in getRawTableEncodings(col.column)" ng-click="col.encoding=encoding.value;col.encodingName=encoding.name;"
                       kylinpopover placement="left" ng-title="{{(encoding.value=='dict[v1]'||encoding.value=='fixed_length[v1]'||encoding.value=='int[v1]'||encoding.value=='integer[v1]'||encoding.value=='integer[v2]'||encoding.value=='fixed_length_hex[v1]'||encoding.value=='date[v1]'||encoding.value=='time[v1]')?encoding.name:''}}" ng-value="{{encoding.value}}" ng-watch="{{dataKylin.cube.tip_encoding}}" template="encodingTip.html">
                      {{encoding.name}}
                    </a>
                  </li>
                </ul>
              </div>
              <span ng-if="state.mode=='view'">{{col.encoding|encodingVersionShow}}</span>

            </td>
            <td>
              <!--Column Length -->
              <input type="text" class="form-control" placeholder="Column Length.." ng-if="state.mode=='edit'"
                     ng-disabled="col.encoding.indexOf('dict')>=0||col.encoding.indexOf('date')>=0||col.encoding.indexOf('time')>=0||col.encoding.indexOf('var')>=0||col.encoding.indexOf('orderedbytes')>=0"
                     ng-model="col.valueLength" class="form-control"
                     placement="top" ng-name="{{col.encoding}}"  ng-value="{{col.valueLength}}" ng-watch="{{dataKylin.cube.tip_length}}" template="lengthTip.html"
                     kylinpopover  ng-title="{{(col.encoding=='fixed_length[v1]'||col.encoding=='integer[v2]'||col.encoding=='fixed_length_hex[v1]')?col.encodingName:''}}" >

              <small class="help-block red" ng-show="state.mode=='edit' && col.encoding=='int' && (col.valueLength>8 || col.valueLength<1)">int encoding column length should between 1 and 8</small>
              <span ng-if="state.mode=='view'">{{col.valueLength}}</span>
            </td>
            <td>
              <!--Column Length -->
              <select ng-if="state.mode=='edit'" style="width:180px;"
                      chosen ng-model="col.index"
                      tooltip="{{dataKylin.cube.tip_false_by_default}}"
                      data-placeholder="false by default"
                      ng-change="refreshRawTablesIndex(col,col.index)"
                      ng-options="dt as dt for dt in cubeConfig.rawTableIndexOptions">
                <option value=""></option>
              </select>
              <span ng-if="state.mode=='view'">{{col.index}}</span>
            </td>
          </tr>
          </tbody>
        </table>


      </div>


    </div>

  </ng-form>
</div>
<script type="text/ng-template" id="rawtableTip.html">
  <div ng-bind-html="dataKylin.cube.tip_body_cubeRawTable">
  </div>
</script>
<script type="text/ng-template" id="encodingTip.html" >
  <div >
    <div ng-if="value=='dict[v1]'">
      {{dataKylin.cube.tip_encoding_dict}}
    </div>
    <div ng-if="value=='fixed_length[v1]'">
      {{dataKylin.cube.tip_encoding_fixed_length}}
    </div>
    <div ng-if="value=='int[v1]'">
      {{dataKylin.cube.tip_encoding_int}}
    </div>
    <div ng-if="value=='integer[v1]'">
      {{dataKylin.cube.tip_encoding_integer_v1}}
    </div>
    <div ng-if="value=='integer[v2]'">
      {{dataKylin.cube.tip_encoding_integer_v2}}
    </div>
    <div ng-if="value=='fixed_length_hex[v1]'">
      {{dataKylin.cube.tip_encoding_fixed_length_hex}}
    </div>
    <div ng-if="value=='date[v1]'">
      {{dataKylin.cube.tip_encoding_date}}
    </div>
    <div ng-if="value=='time[v1]'">
      {{dataKylin.cube.tip_encoding_time}}
    </div>
  </div>
</script>
<script type="text/ng-template" id="lengthTip.html">
  <div >
    <div ng-if="name=='fixed_length[v1]'">
      {{dataKylin.cube.tip_length_fixed_length_part_one}}
      {{value}}
      {{dataKylin.cube.tip_length_fixed_length_part_two}}
    </div>
    <div ng-if="name=='integer[v2]'">
      {{dataKylin.cube.tip_length_integer_v2}}
      [{{-Math.pow(2,(8*value-1))}},{{Math.pow(2,(8*value-1))}}]
    </div>
    <div ng-if="name=='fixed_length_hex[v1]'">
      {{dataKylin.cube.tip_length_fixed_length_hex_part_one}}
      {{value*2}}
      {{dataKylin.cube.tip_length_fixed_length_hex_part_two}}
    </div>
  </div>
</script>
