<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div ng-controller="streamingConfigCtrl">
  <form name="form.cube_streaming_form" novalidate>

    <div>
      <accordion>
        <accordion-group is-open="state.isKfkSettingOpen" ng-init="state.isKfkSettingOpen=true">
          <accordion-heading>
            {{dataKylin.cube.kaKafkaSetting}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': state.isKfkSettingOpen, 'glyphicon-chevron-right': !state.isKfkSettingOpen}"></i>
          </accordion-heading>

          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
        <div class="row">
          <label class="col-xs-12 col-sm-3 control-label no-padding-right">
            <b>{{dataKylin.cube.kaTopic.name}}</b>
            <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaTopic.name}}" ng-watch="{{dataKylin.cube.kaTopic.watch}}" template="KafkaTopicTip.html"></i>
          </label>
          <div class="col-xs-12 col-sm-6"   ng-class="{'has-error':form.cube_streaming_form.topic.$invalid && (form.cube_streaming_form.topic.$dirty||form.cube_streaming_form.$submitted)}">
            <input  ng-if="state.mode=='edit'"  name="topic" required ng-model="kafkaMeta.topic" type="text"
                    placeholder="{{dataKylin.cube.tip_input_kafkaConfig_topic}}"
                    class="form-control"/>
            <small class="help-block"
                   ng-show="!form.cube_streaming_form.topic.$error.required && form.cube_streaming_form.topic.$invalid && (form.cube_streaming_form.topic.$dirty||form.cube_streaming_form.$submitted)">
              {{dataKylin.cube.tip_kafka_topic_invalid}}
            </small>
            <small class="help-block" ng-show="form.cube_streaming_form.topic.$error.required && (form.cube_streaming_form.topic.$dirty||form.cube_streaming_form.$submitted)">{{dataKylin.cube.tip_Kafka_topic}}</small>
            <span ng-if="state.mode=='view'">{{kafkaMeta.topic}}</span>
          </div>
        </div>
      </div>

      <div ng-repeat="cluster in kafkaMeta.clusters | filter: state.measureFilter track by $index" class="box">
        <div class="box-header">
          <h3 class="box-title">{{dataKylin.cube.kaCluster}}-{{$index+1}}</h3>
          <button ng-if="state.mode=='edit'" type="button" ng-click="removeCluster(cluster)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="box-body no-padding">
          <table class="table table-condensed" ng-if="cluster.brokers.length||cluster.newBroker">
            <thead>
            <tr>
              <th>ID</th>
              <th>{{dataKylin.cube.kaHost}}</th>
              <th>{{dataKylin.cube.kaPort}}</th>
              <th ng-if="state.mode=='edit'">{{dataKylin.cube.kaActions}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="broker in cluster.brokers| filter: state.measureFilter track by $index">
              <td>{{broker.id}}</td>
              <td>{{broker.host}}</td>
              <td>{{broker.port}}</td>
              <td ng-if="state.mode=='edit'">
                <!--Edit Button -->
                <button class="btn btn-xs btn-info" ng-click="addBroker(cluster,broker)">
                  <i class="fa fa-pencil"></i>
                </button>

                <button class="btn btn-xs btn-danger" ng-click="removeElement(cluster,broker)"><i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            <tr ng-if="cluster.newBroker">
              <td>
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="cluster.newBroker.id" name="broker_id" placeholder="{{dataKylin.cube.tip_input_broker}}"/>
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="cluster.newBroker.host" name="broker_host" placeholder="{{dataKylin.cube.tip_input_broker_host}}">
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="cluster.newBroker.port" name="broker_port" placeholder="{{dataKylin.cube.tip_input_broker_port}}">
                </div>
              </td>
              <td>
                <button class="btn btn-xs btn-danger" ng-click="removeNewBroker(cluster)"><i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <div>
            <button class="btn btn-sm btn-success" ng-click="addBroker(cluster)" ng-show="state.mode=='edit'&&!cluster.newBroker">
              <i class="fa fa-plus"></i> {{dataKylin.cube.kaBroker}}
            </button>
            <button class="btn btn-sm btn-info" ng-click="saveNewBroker(cluster)" ng-show="state.mode=='edit'&&cluster.newBroker">
              <i class="fa fa-saved"></i> {{dataKylin.cube.kaSave}}
            </button>
            <button class="btn btn-link" ng-click="clearNewBroker(cluster)"  ng-show="state.mode=='edit'&&cluster.newBroker">{{dataKylin.cube.kaCancel}}</button>
          </div>
        </div>
      </div>
      <!--Add Measures Button-->
      <div class="form-group">
        <button class="btn btn-sm btn-info" ng-click="addCluster()" ng-show="state.mode=='edit'">
          <i class="fa fa-plus"></i> {{dataKylin.cube.kaCluster}}
        </button>
      </div>

          </accordion-group>
        </accordion>

      <hr/>
      <!--Advanced setting-->
      <accordion>
        <accordion-group is-open="state.isStreamingAdOpen" ng-init="state.isStreamingAdOpen=true">
          <accordion-heading>
            {{dataKylin.cube.kaAdvancedSetting}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': state.isStreamingAdOpen, 'glyphicon-chevron-right': !state.isStreamingAdOpen}"></i>
          </accordion-heading>

          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaTimeout}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaTimeout}}" template="TimeoutTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.timeout.$invalid && (form.cube_streaming_form.timeout.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="timeout" required ng-model="kafkaMeta.timeout" type="text"
                       placeholder="{{dataKylin.cube.tip_input_kafkaConfig_timeout}}"
                       ng-pattern="/^\+?[1-9][0-9]*$/"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.timeout.$error.required && form.cube_streaming_form.timeout.$invalid && (form.cube_streaming_form.timeout.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_timeout_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.timeout.$error.required && (form.cube_streaming_form.timeout.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_timeout_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.timeout}}</span>
              </div>
            </div>
          </div>

          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaBufferSize}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaBufferSize}}" template="BufferSizecTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.bufferSize.$invalid && (form.cube_streaming_form.bufferSize.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="bufferSize" required ng-model="kafkaMeta.bufferSize" type="text"
                       placeholder="{{dataKylin.cube.tip_kafkaConfig_bufferSize}}"
                       ng-pattern="/^\+?[1-9][0-9]*$/"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.bufferSize.$error.required && form.cube_streaming_form.bufferSize.$invalid && (form.cube_streaming_form.bufferSize.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_bufferSize_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.bufferSize.$error.required && (form.cube_streaming_form.bufferSize.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_bufferSize_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.bufferSize}}</span>
              </div>
            </div>
          </div>

          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaMargin}}</b>

                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaMargin}}" template="MarginTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.margin.$invalid && (form.cube_streaming_form.margin.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="margin" required ng-model="kafkaMeta.margin" type="text"
                       placeholder="{{dataKylin.cube.tip_input_kafkaConfig_margin}}"
                       ng-pattern="/^\+?[1-9][0-9]*$/"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.margin.$error.required && form.cube_streaming_form.margin.$invalid && (form.cube_streaming_form.margin.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_kafka_margin_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.margin.$error.required && (form.cube_streaming_form.margin.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_kafka_margin_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.margin}}</span>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>

      <hr/>
      <accordion>

        <accordion-group is-open="state.isParserHeaderOpen">
          <accordion-heading>
            {{dataKylin.cube.kaParserSetting}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': state.isParserHeaderOpen, 'glyphicon-chevron-right': !state.isParserHeaderOpen}"></i>
          </accordion-heading>

          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaParserName}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaParserName}}" template="ParserName.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.parserName.$invalid && (form.cube_streaming_form.parserName.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="parserName" required ng-model="kafkaMeta.parserName" type="text"
                       placeholder="{{dataKylin.cube.tip_input_kafkaConfig_parserName}}"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.parserName.$error.required && form.cube_streaming_form.parserName.$invalid && (form.cube_streaming_form.parserName.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_kafka_parser_name_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.parserName.$error.required && (form.cube_streaming_form.parserName.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_kafka_parser_name_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.parserName}}</span>
              </div>
            </div>
          </div>
          <div class="form-group middle-popover" ng-if="state.mode=='edit'&&state.target!=='kfkConfig'" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaParserTimestampField}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaParserTimestampField}}" template="ParserTimestampFieldsTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6 streamingParserCtr">
                  <select chosen ng-model="streamingCfg.parseTsColumn"
                           ng-options="column as column for column in streamingCfg.columnOptions "
                           ng-change="streamingTsColUpdate()"
                           placeholder="{{dataKylin.cube.kaSelectColumn}}"
                           class="chosen-select">
                    <option value=""></option>
                  </select>
              </div>
            </div>
          </div>
          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaParserProperties}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaParserProperties}}" template="ParserPropertiesTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.parserProperties.$invalid && (form.cube_streaming_form.parserProperties.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="parserProperties" required ng-model="kafkaMeta.parserProperties" type="text"
                       placeholder="configA=1;configB=2"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.parserProperties.$error.required && form.cube_streaming_form.parserProperties.$invalid && (form.cube_streaming_form.parserProperties.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_parser_properties_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.parserProperties.$error.required && (form.cube_streaming_form.parserProperties.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_parser_properties_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.parserProperties}}</span>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>

    </div>
  </form>
</div>
<script type="text/ng-template" id="KafkaTopicTip.html">
  <p>{{dataKylin.cube.tip_body_kafka_topic}}</p>
</script>
<script type="text/ng-template" id="TimeoutTip.html">
  <p>{{dataKylin.cube.tip_body_timeout}}</p>
</script>
<script type="text/ng-template" id="BufferSizecTip.html">
  <p>{{dataKylin.cube.tip_body_buffer_size}}</p>
</script>
<script type="text/ng-template" id="MarginTip.html">
  <p>{{dataKylin.cube.tip_body_margin}}</p>
</script>
<script type="text/ng-template" id="ParserName.html">
  <p>{{dataKylin.cube.tip_body_parser_name}}</p>
</script>
<script type="text/ng-template" id="ParserTimestampFieldsTip.html">
  <p>{{dataKylin.cube.tip_body_parser_timestamp_field}}</p>
</script>
<script type="text/ng-template" id="ParserPropertiesTip.html">
  <p>{{dataKylin.cube.tip_body_parser_properties}}</p>
</script>
