<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div ng-controller="streamingConfigCtrl">
  <form name="form.cube_streaming_form" novalidate>

    <!--add cluster-->

    <!--cluster-from-->
    <div ng-repeat="cluster in kafkaMeta.clusters | filter: state.measureFilter" class="box">
      <div class="box-header">
        <h3 class="box-title">{{dataKylin.cube.kaCluster}}-{{$index+1}}</h3>
        <button ng-if="state.mode=='edit'" type="button" ng-click="removeCluster(cluster)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="box-body no-padding">
        <table class="table table-condensed" ng-if="cluster.brokers.length||cluster.newBroker">
          <thead>
          <tr>
            <th width="20%">ID</th>
            <th width="40%">{{dataKylin.cube.kaHost}}</th>
            <th width="20">{{dataKylin.cube.kaPort}}</th>
            <th width="20%" ng-if="state.mode=='edit'">{{dataKylin.cube.kaActions}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="broker in cluster.brokers| filter: state.measureFilter track by $index">
            <td><input ng-if="currentCheck===$index" class="form-control" type="text" ng-model="cluster.newBroker.id" name="broker_id" placeholder="{{dataKylin.cube.tip_input_broker}}"/><span ng-if="currentCheck!==$index">{{broker.id}}</span></td>
            <td><input ng-if="currentCheck===$index" class="form-control" type="text" ng-model="cluster.newBroker.host" name="broker_host" placeholder="{{dataKylin.cube.tip_input_broker_host}}"><span ng-if="currentCheck!==$index">{{broker.host}}</span></td>
            <td><input ng-if="currentCheck===$index" class="form-control" type="text" ng-model="cluster.newBroker.port" name="broker_port" placeholder="{{dataKylin.cube.tip_input_broker_port}}"><span ng-if="currentCheck!==$index">{{broker.port}}</span> </td>
            <td ng-if="state.mode=='edit'">
              <!--Edit Button -->
              <button ng-show="currentCheck===$index" class="btn btn-xs btn-info" ng-click="saveNewBroker(cluster);">
                <i class="fa fa-check"></i>
              </button>
              <button ng-show="currentCheck!==$index" class="btn btn-xs btn-info" ng-click="addBroker(cluster,broker,$index)">
                <i class="fa fa-pencil"></i>
              </button>

              <button  class="btn btn-xs btn-danger" ng-click="removeElement(cluster,broker);"><i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          <tr ng-if="cluster.newBroker&&addTag">
            <td>
                <input class="form-control" type="text" ng-model="cluster.newBroker.id" name="broker_id" placeholder="{{dataKylin.cube.tip_input_broker}}"/>
            </td>
            <td>
                <input class="form-control" type="text" ng-model="cluster.newBroker.host" name="broker_host" placeholder="{{dataKylin.cube.tip_input_broker_host}}">
            </td>
            <td>
                <input class="form-control" type="text" ng-model="cluster.newBroker.port" name="broker_port" placeholder="{{dataKylin.cube.tip_input_broker_port}}">
            </td>
            <td>
              <button  class="btn btn-xs btn-info" ng-click="saveNewBroker(cluster);">
                <i class="fa fa-check"></i> </button>
              <button class="btn btn-xs btn-danger" ng-click="removeNewBroker(cluster);"><i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div ng-if="state.mode!=='view'">
          <button class="btn btn-sm btn-success" ng-click="addBroker(cluster);" >
            <i class="fa fa-plus"></i> {{dataKylin.cube.kaBroker}}
          </button>

          <span ng-if="fromError" style="color:#b94a48">{{dataKylin.data_source.clusterFormError}}</span>

        </div>
        <div style="margin-top: 20px" ng-show="cluster.brokers.length&&state.mode!=='view'&&!state.target">
          <button class="btn btn-sm btn-info" ng-click="loadClusterInfo()" ng-show="state.mode=='edit'&&!cluster.newBroker">
            <i class="fa fa-refresh"></i> {{dataKylin.data_source.getClusterInfo}}
          </button>
        </div>
      </div>
    </div>

    <!--cluster-from-->

    <button class="btn btn-sm btn-info" ng-click="addCluster();"  ng-show="state.mode=='edit'&&kafkaMeta.clusters.length<1">
      <i class="fa fa-plus"></i> {{dataKylin.cube.kaCluster}}
    </button>

    <!--add cluster-->
    <div style="font-size: 16px;" ng-if="state.target||state.mode=='view'">Topic:{{kafkaMeta.topic}}</div>



    <!--tableselect and jsonbox-->
   <div style="border:solid 1px #eee;padding:10px" ng-if="state.mode!='view'&&!state.target">
     <div class="col-xs-6">
       <abn-tree
               tree-data         = "treeData"
               tree-control      = "my_tree"
               icon-leaf         = "fa fa-columns"
               icon-expand       = "fa fa-database"
               icon-collapse     = "fa fa-database"
               expand-level      = "3">
       </abn-tree>

       <div ng-if="!loading && treeData.length == 0">
         <div no-result text="{{dataKylin.data_source.noCluster}}"></div>
       </div>
       <loading ng-if="loading" text="{{dataKylin.data_source.loadingCluster}}"></loading>
     </div>
     <div class="col-xs-6">
       <div style="background-color:#f5f5f5" ng-model="streaming.sourceSchema" ui-ace="{
        useWrapMode : true,
        mode:'json',
        onLoad: streamingOnLoad
      }">
{{streaming.sourceSchema}}
     </div>
       <div class="convertBtn" ng-click="streamingOnChange();loadColumnZH();">convert<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
    </div>
     <div style="clear: both"></div>
  </div>




    <div >
      <div style="border:solid 1px #eee;padding:10px;margin-top: -1px" ng-if="state.mode!='view'&&!state.target">
          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}" >
            <ol class="text-info" style="margin-bottom: 30px;" ng-bind-html="dataKylin.data_source.tip_table_schemaChecked_detail">
            </ol>
            <div class="row" style="text-align: right;line-height: 35px">
              <label class="col-xs-12 col-sm-2 control-label no-padding-right">
                <b style="font-size: 16px">{{dataKylin.data_source.tableName}}</b>
              </label>
              <div class="col-xs-12 col-sm-2" style="text-align: right">
                 <select ng-if="!state.tableName&&dataBaseList.length>0" class="form-control" ng-model="table.database"><option ng-repeat=" db in dataBaseList" value="{{db}}">{{db}}</option></select>
                <span ng-if="!dataBaseList||dataBaseList&&dataBaseList.length<=0" style="display: inline-block;border: solid 1px #ccc;height: 33px;width: 140px;line-height: 33px;text-align: center;">{{state.database||'Default'}}</span>
              </div>
              <div class="col-xs-12 col-sm-1" style="text-align: center;font-size: 25px;">/</div>
              <div class="col-xs-12 col-sm-3" style="text-align: left"   ng-class="{'has-error':form.cube_streaming_form.tablename.$invalid && (form.cube_streaming_form.tablename.$dirty||form.cube_streaming_form.$submitted)}">
                <input style="display: inline-block"  ng-if="!state.tableName"  name="tablename" required ng-model="table.name" type="text"
                        placeholder="{{dataKylin.data_source.tableName}}"
                        class="form-control"/>

                <small class="help-block"
                       ng-show="form.cube_streaming_form.tablename.$error.required && form.cube_streaming_form.tablename.$invalid && (form.cube_streaming_form.tablename.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.data_source.tip_table_name}}
                </small>
                <small class="help-block" ng-show="form.cube_streaming_form.topic.$error.required && (form.cube_streaming_form.topic.$dirty||form.cube_streaming_form.$submitted)">{{dataKylin.cube.tip_Kafka_topic}}</small>
              </div>
            </div>
          </div>


          <!--Add Measures Button-->
          <div class="form-group" >
        <!--<button class="btn btn-sm btn-info" ng-click="addCluster()" ng-show="state.mode=='edit'">-->
          <!--<i class="fa fa-plus"></i> {{dataKylin.cube.kaCluster}}-->
        <!--</button>-->

              <table class="table table-hover table-bordered table-striped list">
                <thead>
                <tr style="cursor: pointer">
                  <th style="text-align: center">ID</th>
                  <th>{{dataKylin.data_source.column}}</th>
                  <th>{{dataKylin.data_source.columnType}}</th>
                  <th>{{dataKylin.data_source.comment}}</th>
                </tr>
                </thead>
                <tr ng-repeat="column in table.columnList">
                  <td align="center"><label style="width:100%;cursor: pointer;" for="{{column.name}}"><input style="width:1em;height:1em;"
                                                                                              type="checkbox"
                                                                                              id="{{column.name}}"
                                                                                              ng-model="column.checked"
                                                                                              ng-true-value="Y"
                                                                                              ng-false-value="N"/></label>
                  </td>
                  <td>{{column.name}}</td>
                  <td>
                    <select chosen ng-model="column.type" ng-change="loadColumnZH()"
                            ng-options="type as type for type in tableConfig.dataTypes"
                            data-placeholder="{{dataKylin.data_source.plac_select_column_type}}"
                            style="width: 120px !important;"
                            class="chosen-select">
                    </select>
                  </td>
                  <td>
                    <label ng-if="column.type=='timestamp'&&column.fromSource=='Y'" class="badge badge-info">{{dataKylin.data_source.timestamp}}</label>
                    <label ng-if="column.fromSource=='N'" class="badge badge-info">{{dataKylin.data_source.derivedTimeDimension}}</label>
                  </td>
                </tr>
              </table>
            </div>
        <div class="has-error" ng-if="!rule.timestampColumnExist&&form.cube_streaming_form.$submitted&&state.mode!='view'">
          <small class="help-block">
            {{dataKylin.data_source.tip_choose_timestamp}}
          </small>
        </div>
          <!--</accordion-group>-->
          <!--</accordion>-->
      </div>
      <hr/>
      <accordion>

        <accordion-group is-open="state.isParserHeaderOpen=true">
          <accordion-heading>
            {{dataKylin.cube.kaParserSetting}}
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': state.isParserHeaderOpen, 'glyphicon-chevron-right': !state.isParserHeaderOpen}"></i>
          </accordion-heading>

          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaParserName}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaParserName}}" template="ParserName.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.parserName.$invalid && (form.cube_streaming_form.parserName.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="parserName" required ng-model="kafkaMeta.parserName" type="text"
                       placeholder="{{dataKylin.cube.tip_input_kafkaConfig_parserName}}"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.parserName.$error.required && form.cube_streaming_form.parserName.$invalid && (form.cube_streaming_form.parserName.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_kafka_parser_name_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.parserName.$error.required && (form.cube_streaming_form.parserName.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_kafka_parser_name_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.parserName}}</span>
              </div>
            </div>
          </div>
          <div class="form-group middle-popover" ng-if="state.mode=='edit'&&state.target!=='kfkConfig'" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaParserTimestampField}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaParserTimestampField}}" template="ParserTimestampFieldsTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6 streamingParserCtr">
                <select chosen ng-model="streamingCfg.parseTsColumn"
                        ng-options="column as column for column in streamingCfg.columnOptions "
                        ng-change="streamingTsColUpdate()"
                        placeholder="{{dataKylin.cube.kaSelectColumn}}"
                        class="chosen-select">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group middle-popover" ng-class="{'required':state.mode=='edit'}">
            <div class="row">
              <label class="col-xs-12 col-sm-3 control-label no-padding-right">
                <b>{{dataKylin.cube.kaParserProperties}}</b>
                <i class="fa fa-info-circle" kylinpopover placement="right" ng-title="{{dataKylin.cube.kaParserProperties}}" template="ParserPropertiesTip.html"></i>
              </label>

              <div class="col-xs-12 col-sm-6"
                   ng-class="{'has-error':form.cube_streaming_form.parserProperties.$invalid && (form.cube_streaming_form.parserProperties.$dirty||form.cube_streaming_form.$submitted)}">
                <input ng-if="state.mode=='edit'" name="parserProperties" required ng-model="kafkaMeta.parserProperties" type="text"
                       placeholder="configA=1;configB=2"
                       class="form-control"/>
                <small class="help-block"
                       ng-show="!form.cube_streaming_form.parserProperties.$error.required && form.cube_streaming_form.parserProperties.$invalid && (form.cube_streaming_form.parserProperties.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_parser_properties_invalid}}
                </small>
                <small class="help-block"
                       ng-show="form.cube_streaming_form.parserProperties.$error.required && (form.cube_streaming_form.parserProperties.$dirty||form.cube_streaming_form.$submitted)">
                  {{dataKylin.cube.tip_parser_properties_required}}
                </small>
                <span ng-if="state.mode=='view'">{{kafkaMeta.parserProperties}}</span>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>

    </div>
  </form>
</div>
<script type="text/ng-template" id="KafkaTopicTip.html">
  <p>{{dataKylin.cube.tip_body_kafka_topic}}</p>
</script>
<script type="text/ng-template" id="TimeoutTip.html">
  <p>{{dataKylin.cube.tip_body_timeout}}</p>
</script>
<script type="text/ng-template" id="BufferSizecTip.html">
  <p>{{dataKylin.cube.tip_body_buffer_size}}</p>
</script>
<script type="text/ng-template" id="MarginTip.html">
  <p>{{dataKylin.cube.tip_body_margin}}</p>
</script>
<script type="text/ng-template" id="ParserName.html">
  <p>{{dataKylin.cube.tip_body_parser_name}}</p>
</script>
<script type="text/ng-template" id="ParserTimestampFieldsTip.html">
  <p>{{dataKylin.cube.tip_body_parser_timestamp_field}}</p>
</script>
<script type="text/ng-template" id="ParserPropertiesTip.html">
  <p>{{dataKylin.cube.tip_body_parser_properties}}</p>
</script>
