<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="row">
    <div class="col-xs-12">
      <ng-form name="forms.model_setting_form" novalidate>
        <h3>{{dataKylin.model.gridSTPartition}}</h3>
        <div class="box-body">

          <!--Cube Partition Type-->
          <div class="form-group" ng-hide="true">
              <div class="row">
                  <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridSTPartitionType}}</b></label>
                  <div class="col-xs-12 col-sm-6">
                      <select class="form-control"
                          ng-if="state.mode=='edit'"
                          chosen ng-model="modelsManager.selectedModel.partition_desc.partition_type"
                          ng-options="ddt as ddt for ddt in cubeConfig.cubePartitionTypes">
                          <option value=""></option>
                      </select>
                      <span ng-if="state.mode=='view'">{{model.partition_desc.partition_type}}</span>
                  </div>
              </div>
          </div>

          <!--Partition Column-->
          <div class="form-group">
              <div class="row middle-popover">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridSTPartitionDate}}</b> <i kylinpopover placement="right" ng-title="{{dataKylin.model.gridSTPartitionDate}}" template="partitionTip.html" class="fa fa-info-circle"></i></label>
                  <div class="col-xs-12 col-sm-6">
                      <select style="width: 100%" chosen data-placeholder="e.g. DEFAULT.TEST_KYLIN_FACT.CAL_DT"
                              ng-model="modelsManager.selectedModel.partition_desc.partition_date_column"
                              ng-if="state.mode=='edit'"
                              ng-change="partitionChange(modelsManager.selectedModel.partition_desc.partition_date_column)"
                              data-placement=""
                              ng-options="modelsManager.selectedModel.fact_table+'.'+columns.name as modelsManager.selectedModel.fact_table+'.'+columns.name for columns in getPartitonColumns(modelsManager.selectedModel.fact_table)" >
                          <option value="">{{dataKylin.model.gridSTPartitionDateSelect}}</option>
                      </select>

                      <span ng-if="state.mode=='view'">
                          {{!!(model.partition_desc.partition_date_column)?model.partition_desc.partition_date_column: ''}}
                      </span>
                  </div>
              </div>
          </div>

          <!--Date Format  -->
          <div class="form-group" ng-if="(state.mode=='edit') || (state.mode=='view')" >
            <div class="row">
              <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridSTPartitionDateFormat}}</b></label>
              <div class="col-xs-12 col-sm-6">
                <select style="width: 100%" chosen
                        ng-required="modelsManager.selectedModel.partition_desc.partition_date_format"
                        ng-model="modelsManager.selectedModel.partition_desc.partition_date_format"
                        ng-if="state.mode=='edit'"
                        ng-disabled="isFormatEditable!==true"
                        data-placement=""
                        ng-options="ddt as ddt for ddt in cubeConfig.partitionDateFormatOpt">
                  <option value="">{{dataKylin.model.gridSTPartitionDateFormatSelect}}</option>
                </select>
                <span ng-if="state.mode=='view'&&model.partition_desc.partition_date_column">{{model.partition_desc.partition_date_format}}</span>
              </div>
            </div>
          </div>

          <div class="form-group middle-popover"  ng-if="isFormatEditable==true">
            <div class="row">
              <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridSTSetSeparate}}</b>  <i kylinpopover placement="right" ng-title="{{dataKylin.model.tip_tile_gridHasSepTimeColumn}}" template="separateTimeColumnTip.html" class="fa fa-info-circle"></i></label>
              <div class="col-xs-12 col-sm-6">
                <toggle-switch on-label="Yes" off-label="No" ng-disabled="state.mode!=='edit'" ng-click="toggleHasSeparateColumn(partitionColumn.hasSeparateTimeColumn)" ng-model="partitionColumn.hasSeparateTimeColumn"></toggle-switch>
              </div>
            </div>
          </div>

          <!--Partition Time Column-->
          <div class="form-group" ng-if="partitionColumn.hasSeparateTimeColumn == true">
            <div class="row middle-popover">
              <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridHasParTimeColumn}}</b>  <i kylinpopover placement="right" ng-title="{{dataKylin.model.gridHasParTimeColumn}}" template="partitionTimeTip.html" class="fa fa-info-circle"></i></label>
              <div class="col-xs-12 col-sm-6">

                <select style="width: 100%" chosen data-placeholder="e.g. DEFAULT.TEST_KYLIN_FACT.CAL_DT"
                        ng-model="modelsManager.selectedModel.partition_desc.partition_time_column"
                        ng-if="state.mode=='edit'"
                        data-placement=""
                        ng-options="modelsManager.selectedModel.fact_table+'.'+columns.name as modelsManager.selectedModel.fact_table+'.'+columns.name for columns in getPartitonTimeColumns(modelsManager.selectedModel.fact_table)" >
                  <option value="">{{dataKylin.model.gridHasSepTimeColumnSelect}}</option>
                </select>
                      <span ng-if="state.mode=='view'">
                          {{!!(model.partition_desc.partition_time_column)?model.partition_desc.partition_time_column: ''}}</span>
              </div>
            </div>
          </div>

          <!--Time Format-->
          <div class="form-group" ng-if="partitionColumn.hasSeparateTimeColumn == true">
            <div class="row">
              <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridHasSepTimeColumnTF}}</b></label>
              <div class="col-xs-12 col-sm-6">
                <select style="width: 100%" chosen
                        ng-required="modelsManager.selectedModel.partition_desc.partition_time_format"
                        ng-model="modelsManager.selectedModel.partition_desc.partition_time_format"
                        ng-if="state.mode=='edit'"
                        data-placement=""
                        ng-options="ddt as ddt for ddt in cubeConfig.partitionTimeFormatOpt">
                  <option value="">{{dataKylin.model.gridHasSepTimeColumnTFSelect}}</option>
                </select>
                <span ng-if="state.mode=='view'&&model.partition_desc.partition_time_column">{{(model.partition_desc.partition_time_format)}}</span>
              </div>
            </div>
        </div>
        </div>

        <!--Filter Condition-->
        <h3>{{dataKylin.model.gridSTFilter}}</h3>

        <div class="form-group box-body middle-popover">
            <div class="row">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>{{dataKylin.model.gridSTFilter}}</b></label>
                <div class="col-xs-12 col-sm-6">

                    <!--edit mode-->
                    <div class="form-group" ng-if="state.mode=='edit'"
                         style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
                        <label for="filter_condition"
                               style="color: #930f80;"><b>{{dataKylin.model.gridSTFilter}}</b></label>
                        <textarea id="filter_condition" type="text"
                                  style="height:150px"
                                  class="form-control box-default"
                                  placeholder="{{dataKylin.model.plac_gridSTFilter}}"
                                  ng-model="modelsManager.selectedModel.filter_condition">
                        </textarea>
                    </div>

                    <!--view mode-->
                    <div class="form-group row" ng-if="state.mode=='view'"
                         style="font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro'">
                        <div ng-if="model.filter_condition" class="col-md-11 col-md-offset-1">
                            <p style="color: #930f80;"><b>{{dataKylin.model.gridSTWhere}}</b></p>
                            <span>{{model.filter_condition}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       </ng-form>
    </div>

</div>
<script type="text/ng-template" id="partitionTip.html">
  <ol ng-bind-html="dataKylin.model.tip_gridSTPartitionDate">
  </ol>
</script>
<script type="text/ng-template" id="partitionTimeTip.html">
<p>{{dataKylin.model.tip_gridParTimeColumn}}</p>
</script>
<script type="text/ng-template" id="filterTip.html">
<ol>
  <li>Where clause to filter data from source</li>
  <li>Do not include date column which will be used for incremental refresh</li>
  <li>Do not include "Where"</li>
</ol>
</script>
<script type="text/ng-template" id="separateTimeColumnTip.html">
<p>{{dataKylin.model.tip_gridSTSetSeparate}}</p>
</script>
