<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<!-- Measures Summary -->
<div ng-controller="ModelMeasuresCtrl">
  <ng-form name="forms.model_measure_form" novalidate>
    <div class="dataTables_wrapper form-inline no-footer">
      <div  ng-if="state.mode=='view'">
        <h4 ng-if="model.metrics.length==0">{{dataKylin.model.gridMSNoMetric}}</h4>
        <table class="table table-striped table-hover" ng-if="model && model.metrics.length > 0">
          <thead>
          <tr>
            <th>{{dataKylin.model.gridDSID}}</th>
            <th>{{dataKylin.model.gridDSTableName}}</th>
            <th>{{dataKylin.model.gridDSColumns}}</th>
          </tr>
          </thead>
          <tbody class="cube-dimension">
          <tr ng-repeat="factTable in availableFactTables track by $index" ng-if="selectedFactTables[factTable].length > 0" >
            <!--ID -->
            <td>
              <b>{{$index + 1}}</b>
            </td>
            <!--Name -->
            <td>
              <span>{{factTable}}</span>
            </td>
            <!--Table Name -->
            <td>
              <span ng-repeat="column in selectedFactTables[factTable]" ><label class="label label-info inline-block">{{column}}</label>&nbsp;&nbsp;&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div  ng-if="state.mode=='edit'" class="form-group" style="width: 100%">
        <h3 class="box-title">{{dataKylin.model.gridMSSelectMeasure}}</h3>
        <div ng-repeat="factTable in availableFactTables track by $index" ng-init="outindex=$index" class="row" style="margin-left:0px">
          <accordion class="accordionCursor">
            <div accordion-group class="panel-default "  is-open="selectedColumns[factTable].open" >
              <accordion-heading>
                <i class="glyphicon" ng-class="{'glyphicon-minus':selectedColumns[factTable].open, 'glyphicon-plus': !selectedColumns[factTable].open}"></i>
                    {{dataKylin.model.gridMSFactTable}}[{{factTable}}]
              </accordion-heading>
              <table class="table table-striped table-hover">
                <tr class="row">
                  <th style="width:10%"><label>
                    <input type="checkbox" ng-change="ChangeAll(factTable,outindex)" ng-model="selectedColumns[factTable].all" ng-disabled="selectedColumns[factTable].disabled" >&nbsp;&nbsp;{{dataKylin.model.gridDSSelectAll}}</label>
                  </th>
                  <th ng-repeat="theaditem in dataKylin.model.gridTheadItems" style="width:22%"
                      ng-click="state.filterAttr= theaditem.attr;state.reverseColumn=theaditem.attr;state.filterReverse=!state.filterReverse;">
                    {{theaditem.name}}
                    <i ng-if="state.reverseColumn!= theaditem.attr"
                       class="fa fa-unsorted"></i>
                    <i ng-if="state.reverseColumn== theaditem.attr && !state.filterReverse"
                       class="fa fa-sort-asc"></i>
                    <i ng-if="state.reverseColumn== theaditem.attr && state.filterReverse"
                       class="fa fa-sort-desc"></i>
                  </th>
                </tr>
                <tr ng-repeat="column in getColumnsByAlias(factTable) | orderObjectBy:state.filterAttr:state.filterReverse " class="row">
                  <td><label class="dim-checkbox-label">
                    <input type="checkbox" ng-change="Change(factTable,column.name,outindex)" ng-model="selectedColumns[factTable][column.name].selected"
                           ng-disabled="selectedColumns[factTable][column.name].disabled&&usedMeasuresCubeMap!=null" >
                    <i class="fa fa-info-circle" ng-if="selectedColumns[factTable][column.name].disabled&&usedMeasuresCubeMap!=null" kylinpopover placement="right" ng-title="{{dataKylin.model.gridInUseTip}}"  ng-cube="{{usedMeasuresCubeMap[factTable+'.'+column.name]}}" template="modelMeasures.html" ></i>
                    </label>
                  </td>
                  <td>{{column.name}} </td>
                  <td>{{column.datatype}}</td>
                  <td>{{column.cardinality}}</td>
                  <td>{{column.comment}}</td>
                </tr>
              </table>
            </div>
          </accordion>
        </div>
      </div>
    </div>
  </ng-form>
</div>
<script type="text/ng-template" id="modelMeasures.html">
  <div>
    {{dataKylin.model.gridColumnInUse_part_one}}
    {{cube}}
    {{dataKylin.model.gridColumnInUse_part_two}}
  </div>
</script>
