<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div ng-controller="ModelDimensionsCtrl">

  <ng-form name="forms.model_dimensions_form" novalidate>
    <!-- Dimensions Summary -->
    <div class="dataTables_wrapper form-inline no-footer">
      <!-- VIEW MODE -->
      <div class="row"  ng-if="state.mode=='view'&&model && model.dimensions.length > 0">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>{{dataKylin.model.gridDSID}}</th>
            <th>{{dataKylin.model.gridDSTableName}}</th>
            <th>{{dataKylin.model.gridDSColumns}}</th>
          </tr>
          </thead>
          <tbody class="cube-dimension">
          <tr ng-repeat="dimension in model.dimensions | filter:dimState.filter track by $index">
            <!--ID -->
            <td>
              <b>{{dimension.id = ($index + 1)}}</b>
            </td>
            <!--Name -->
            <td>
              <span>{{dimension.table}}</span>
            </td>
            <!--Table Name -->
            <td>
              <span ng-repeat="column in dimension.columns" ><label class="label label-info">{{column}}</label>&nbsp;&nbsp;&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div  ng-if="state.mode=='edit'" class="form-group model-dimension-edit" style="width: 100%">
        <h4 style="margin-left:42px">{{dataKylin.model.gridDimensions}}</h4>
        <div ng-repeat="dimension in modelsManager.selectedModel.dimensions track by $index" ng-init="outindex=$index" class="row" style="margin-left:42px">
          <accordion>
            <div accordion-group class="panel-default "  is-open="selectedColumns[dimension.table].open" >
              <accordion-heading>
                <i class="glyphicon" ng-class="{'glyphicon-minus':selectedColumns[dimension.table].open, 'glyphicon-plus': !selectedColumns[dimension.table].open}"></i>
                {{dimension.table}}
              </accordion-heading>
              <table class="table table-striped table-hover">
                <tr class="row">
                  <th style="width:10%"><label>
                    <input type="checkbox" ng-change="ChangeAll(dimension.table,outindex)" ng-model="selectedColumns[dimension.table].all"
                           ng-disabled="selectedColumns[dimension.table].disabled" >{{dataKylin.model.gridDSSelectAll}}</label>
                  </th>
                  <th ng-repeat="theaditem in dataKylin.model.gridTheadItems" style="width:22%"
                      ng-click="state[dimension.table].filterAttr= theaditem.attr;state[dimension.table].reverseColumn=theaditem.attr;state[dimension.table].filterReverse=!state[dimension.table].filterReverse;">
                    {{theaditem.name}}
                    <i ng-if="state[dimension.table].reverseColumn!= theaditem.attr"
                       class="fa fa-unsorted"></i>
                    <i ng-if="state[dimension.table].reverseColumn== theaditem.attr && !state[dimension.table].filterReverse"
                       class="fa fa-sort-asc"></i>
                    <i ng-if="state[dimension.table].reverseColumn== theaditem.attr && state[dimension.table].filterReverse"
                       class="fa fa-sort-desc"></i>
                  </th>
                </tr>
                <tr ng-repeat="column in getColumnsByTable(dimension.table) | orderObjectBy:state[dimension.table].filterAttr:state[dimension.table].filterReverse " class="row">
                  <td><label class="dim-checkbox-label">
                    <input type="checkbox" ng-change="Change(dimension.table,column.name,outindex)" ng-model="selectedColumns[dimension.table][column.name].selected"
                           ng-disabled="selectedColumns[dimension.table][column.name].disabled&&cubesLength>0" >
                    <i class="fa fa-info-circle" ng-if="selectedColumns[dimension.table][column.name].disabled&&cubesLength>0" kylinpopover placement="right" ng-title="{{dataKylin.model.gridInUseTip}}"  ng-cube="{{usedDimensionsCubeMap[dimension.table][column.name]}}" template="modelDimensions.html" ></i>
                    </label>
                  </td>
                  <td>{{column.name}}</td>
                  <td>{{column.datatype}}</td>
                  <td>{{column.cardinality}}</td>
                  <td>{{column.comment}}</td>
                </tr>
              </table>
            </div>
          </accordion>
        </div>
      </div>
    </div>
  </ng-form>
</div>
<script type="text/ng-template" id="modelDimensions.html">
  <div>
    {{dataKylin.model.gridColumnInUse_part_one}}
    {{cube}}
    {{dataKylin.model.gridColumnInUse_part_two}}
  </div>
</script>
