{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime", "transform-vue-jsx", "transform-decorators-legacy"],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["es2015", { "targets": { "node": "current" }}],
        "stage-2"
      ],
      "plugins": ["transform-runtime", "transform-decorators-legacy", "dynamic-import-node"]
    }
  }
}
