<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="{{project.visiblePage=='cubes'? 'active':''}}">
            <a href="" ng-click="project.visiblePage='cubes';">{{dataKylin.project.cubes}}</a>
        </li>
        <li class="{{project.visiblePage=='access'? 'active':''}}">
            <a href="" ng-click="project.visiblePage='access';listAccess(project, 'ProjectInstance');">{{dataKylin.project.access}}</a>
        </li>
        <li class="{{project.visiblePage=='extFilter'? 'active':''}}">
          <a href="" ng-click="project.visiblePage='extFilter';listAccess(project, 'ProjectInstance');">{{dataKylin.project.externalFilters}}</a>
        </li>
    </ul>

    <div class="cube-detail" ng-if="project.visiblePage=='cubes'">
        <div class="row">
            <div class="col-xs-1"></div>

            <div class="col-xs-10">
                <div class="space-8"></div>
                <table ng-if="project.realizations.length > 0" class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>{{dataKylin.project.cubeName}}</th>
                            <th>{{dataKylin.project.action}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in project.realizations" ng-if="item.type=='CUBE'">
                            <td>{{item.realization}}</td>
                            <td><a href='models' style="color: #428BCA">{{dataKylin.project.ac_cube_detail}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div no-result text="{{dataKylin.project.info_no_result}}" ng-if="project.realizations.length == 0"></div>
            <div class="col-xs-1"></div>
        </div>
    </div>

    <div class="cube-detail" ng-if="project.visiblePage=='access'">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div ng-include src="'partials/common/access.html'" ng-init="entity=project;type='ProjectInstance';"></div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>

    <div class="cube-detail" ng-if="project.visiblePage=='extFilter'">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" ng-controller="ExtFilterCtrl">
          <div class="space-4"></div>
          <div class="pull-right">
            <button class="btn btn-primary btn-xs" ng-click="toCreateFilter(project.name,extFilters);" ng-if="userService.hasRole('ROLE_ADMIN') || hasPermission(project, 16)"><i
              class="fa fa-plus"></i> {{dataKylin.project.ac_externalFilters_filter}}
            </button>
          </div>
            <table  class="table table-striped table-hover" >
              <thead>
              <tr>
                <th>{{dataKylin.project.efFiliterName}}</th>
                <th>{{dataKylin.project.efTableType}}</th>
                <th>{{dataKylin.project.efResourcePath}}</th>
                <th>{{dataKylin.project.efDescription}}</th>
                <th>{{dataKylin.project.efActions}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in extFilters">
                <td>{{item.name}}</td>
                <td>{{item.filter_table_type}}</td>
                <td>{{item.filter_resource_identifier}}</td>
                <td>{{item.description}}</td>
                <td>
                  <button class="btn btn-xs btn-default" ng-click="toEditFilter(project.name,extFilters,item)" tooltip="{{dataKylin.project.ac_project_edit}}"
                          ng-disabled="!(userService.hasRole('ROLE_ADMIN') || hasPermission(project, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask, permissions.OPERATION.mask))">
                    <i class="fa fa-pencil"></i></button>
                  <button class="btn btn-xs btn-success" ng-click="deleteFilter(extFilters,item,project)" tooltip="{{dataKylin.project.ac_project_delete}}"
                          ng-disabled="!(userService.hasRole('ROLE_ADMIN') || hasPermission(project, permissions.ADMINISTRATION.mask, permissions.MANAGEMENT.mask, permissions.OPERATION.mask))"
                  ><i class="fa fa-trash-o"></i></button>

                </td>
              </tr>
              </tbody>
            </table>
          <div class="clearfix"></div>
          <div class="space-4"></div>        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
</div>
