<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<script type="text/ng-template" id="projectFilter.html">
  <div>
    <ng-form name="filter_create_form">
        <div class="modal-header">
            <h4>{{dataKylin.project.efNewFilter}}</h4>
        </div>
        <div class="modal-body" style="background-color: white">

          <div class="form-group row">
            <label  class="col-sm-2 form-control-label">{{dataKylin.project.efFilterName}}</label>
            <div class="col-sm-10">
              <input name="filter_name" ng-disabled="state.isEdit" type="text" class="form-control" ng-model="projectFilter.name" required
                     placeholder="{{dataKylin.project.plac_efFilterName}}"
                     ng-maxlength = 100 ng-pattern="/^\w+$/" />
                      <span class="text-warning" ng-if="filter_create_form.filter_name.$error.required  && filter_create_form.filter_name.$dirty"
                      >&nbsp;{{dataKylin.project.checkInfo_require_efFilterName}}</span>
                    <span class="text-warning" ng-if="filter_create_form.filter_name.$invalid && filter_create_form.filter_name.$dirty && !filter_create_form.filter_name.$error.required"
                    >&nbsp;{{dataKylin.project.checkInfo_invalid_efFilterName}}</span>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 form-control-label">{{dataKylin.project.efTableType}}</label>
            <div class="col-sm-10">

              <select ng-required="projectFilter.filter_table_type" chosen ng-model="projectFilter.filter_table_type"
                      ng-options="_type as _type for _type in cubeConfig.externalFilterType "
                      style="width: 100% !important;"
                      class="chosen-select">
                <option value=""></option>
              </select>

            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 form-control-label">{{dataKylin.project.efResourcePath}}</label>
            <div class="col-sm-10">
              <input name="filter_resource_identifier" type="text" class="form-control" ng-model="projectFilter.filter_resource_identifier" required
                     placeholder="{{dataKylin.project.plac_efResourcePath}}"
                     ng-maxlength = 100/>
                      <span class="text-warning" ng-if="filter_create_form.filter_resource_identifier.$error.required  && filter_create_form.filter_resource_identifier.$dirty"
                      >&nbsp;{{dataKylin.project.checkInfo_require_efResourcePath}}</span>
                    <span class="text-warning" ng-if="filter_create_form.filter_resource_identifier.$invalid && filter_create_form.filter_resource_identifier.$dirty && !filter_create_form.filter_resource_identifier.$error.required"
                    >&nbsp;{{dataKylin.project.checkInfo_invalid_efResourcePath}}</span>
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-2 form-control-label">{{dataKylin.project.checkInfo_invalid_plac_efDescription}}</label>
            <div class="col-sm-10">
                      <textarea name="description_input" type="text" class="form-control"
                                placeholder="{{dataKylin.project.plac_efDescription}}"
                                ng-model="projectFilter.description"
                      ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">{{dataKylin.project.ac_efClose}}</button>
            <button class="btn btn-success" ng-click="createOrUpdate()" ng-disabled="filter_create_form.$invalid">
              {{dataKylin.project.ac_efSubmit}}
            </button>
        </div>
    </ng-form>
</script>
