<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<script type="text/ng-template" id="aboutKap.html">
  <div class="modal-body panel panel-default" style="background-color: white">

        <div class="panel-heading">
          <h3 class="panel-title font12">{{dataKylin.license.version}}</h3>
        </div>
        <div class="panel-body">{{license['kap.version']}}</div>

        <div class="panel-heading">
          <h3 class="panel-title font12">{{dataKylin.license.dates}}</h3>
        </div>
        <div class="panel-body">{{license['kap.dates']}}</div>

        <div class="panel-heading">
          <h3 class="panel-title font12">{{dataKylin.license.statement}}</h3>
        </div>
        <div class="panel-body">
          <p>{{license['kap.license.statement']}}</p>
        </div>

        <div class="panel-heading">
          <h3 class="panel-title font12">{{dataKylin.license.commit}}</h3>
        </div>
        <div class="panel-body">
          <p>{{license['kap.commit']}}</p>
        </div>

        <div class="panel-heading ">
          <h3 class="panel-title font12">{{dataKylin.license.kylincommit}}</h3>
        </div>
        <div class="panel-body">
          <p>{{license['kylin.commit']}}</p>
        </div>

        <p class="panel-title" style="text-align: center;color:#808080">All Rights Reserved. Kyligence Inc.</p>

</script>
