<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<script type="text/ng-template" id="aboutKap.html">
  <div  id="aboutKAP-background">
        <div  id="aboutKAP-title">
          <b >{{dataKylin.license.aboutkap}}</b>
          <div id="aboutKap-close" ng-click="cancel()"></div>
        </div>
        <img id="aboutKAP-favicon" src="./image/about-logo.png" >
        <div id="aboutKAP-version" class="aboutKAP-row">
          <b>{{dataKylin.license.version}}: {{license['kap.version']}}</b>
        </div>

        <div id="aboutKAP-period" class="aboutKAP-row">
          <b>{{dataKylin.license.dates}}: {{license['kap.dates']}}</b>
        </div>

        <div id="aboutKAP-license-statement" class="aboutKAP-row">
          <b>{{dataKylin.license.statement}}: {{license['kap.license.statement']}}</b>
        </div>

        <div class="aboutKAP-split"></div>

        <div id="aboutKAP-kapService" class="aboutKAP-row">
          <b >{{dataKylin.kapService.statementHeader}}</b>
        </div>
        <div id="aboutKAP-kapService-content" class="aboutKAP-row">
          <p ng-if="license['kap.license.isEvaluation']=='true'">{{dataKylin.kapService.evaluationStatement}}</p>
          <p ng-if="license['kap.license.isEvaluation']!=='true'">{{dataKylin.kapService.statement}}</p>
        </div>


        <div ng-if="license['kap.license.isEvaluation']!=='true'" id="endtime" class="aboutKAP-row">
          <b>{{dataKylin.kapService.serviceEndTime}}: {{license['kap.license.serviceEnd']}}</b>
        </div>


        <div id="aboutKAP-commit" class="aboutKAP-row">
          <b>{{dataKylin.license.commit}}: {{license['kap.commit']}}</b>
        </div>


        <div id="aboutKAP-kylin-commit" class="aboutKAP-row">
          <b>{{dataKylin.license.kylincommit}}: {{license['kylin.commit']}}</b>
        </div>

    <div  class="tips">
     <p >{{dataKylin.kapService.requestTip}}</p>
    </div>
    <button id="aboutKAP-nextButton" class="btn">
     <a href="api/kap/system/requestLicense" target="_bank" style="color:#fff">{{dataKylin.header.requestLicense}}</a>
    </button>

        <p id="aboutKAP-copyright" class="panel-title">All Rights Reserved. Kyligence Inc.</p>
    </div>

</script>
