.aboutKAP-row
{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  text-align:center;

}

.aboutKAP-row b
{
  font-size: 12px;
  color: #333;
}

.modal-content
{
  width: 450px !important;
  height: 565px !important;
}

#aboutKAP-background
{
  background-color:#fcfcfc;
  width:450px;
  height:565px;
  border-radius: 10px;
}

#aboutKAP-title
{
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width:450px;
  height:40px;
  background-color: #f0f0f0;
  border-bottom:solid 0.5px;
  border-color: #dddddd;
  text-align: center;
  padding-top: 12px;
}


#aboutKap-close
{
  width: 11px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("../image/close.png");
}

#aboutKap-close:hover
{
  background-image: url("../image/close_hover.png");
}


#aboutKAP-title b
{
  width: 130px;
  font-size: 14px;
  color:#333;
}

#aboutKAP-favicon
{
  margin-top: 30px;
  margin-left: 185px;
}

#aboutKAP-version
{
  margin-top: 30px;
}

.aboutKAP-split
{
  width: 320px;
  height: 0.5px;
  background-color: #d8d8d8;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#aboutKAP-kapService
{
  margin-top: 20px;
}

#aboutKAP-kapService-content{
  margin-top: 5px;
}

#aboutKAP-kapService-content p
{
  font-size: 12px;
  color: #a2a2a2;
}

#aboutKAP-endtime
{
  margin-top: 30px;
}

#aboutKAP-nextButton
{
  width: 320px;
  height: 40px;
  margin-top: 20px;
  margin-left: 80px;
  color: #0090ff;
}

#aboutKAP-copyright
{
  margin-top: 40px;
  text-align: center;
  color:#808080;
  font-size: 10px;
}

#aboutKAP-nextButton {
  background-color:  #66a8fa;
  border-color:  #66a8fa;
}
#aboutKAP-nextButton:hover,
#aboutKAP-nextButton:active,
#aboutKAP-nextButton.hover {
  background-color: #3f80d0;
  border-color: #3f80d0;
}
