.classUml{
  width:300px;
  border:solid 1px #000;
  position: absolute;
  left: 120px;
  top:50px;
  background-color: #fff;
  border-radius: 5px;
  /*overflow: hidden;*/
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #000;
  -moz-box-shadow: 2px 2px 19px #000;
  -moz-border-radius:0.5em;
}
.classUml .title{
  text-align: left;
  background-color:#f9f9f9;
  color:#000;
  padding-left: 5px;
  padding-top: 5px;
}
.classUml .title a{
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-left:10px;
  display: inline-block;
  width: 250px;
  color: #000;
}
.classUml .title .alias{
  font-style: italic;
  font-size: 12px;
  margin-left: 4px;
  display: block;
  border:dashed 1px #ccc;
}
.classUml .title .tableKind{
  vertical-align: top;
  box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.classUml p{
  padding-left: 10px;
  border-bottom: solid 1px #000;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin: 0;
  text-overflow:ellipsis;
  word-break: break-all;
  /*overflow: hidden;*/
  position: relative;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  /*font-weight:bold;*/
}
.classUml p:hover{
  /*background-color:#eee;*/
}
.snowBox{
  width: 100%;
  height: 1000px;
  background: #383838;
  position: absolute;
  margin-top: 10px;;
}

.snowBox .more{
  display: inline-block;
  width: 10px;
  height: 10px;
  /*background: url('../image/more_normal.png') no-repeat;*/
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
  background-size:contain;
  font-size:12px;
}
.snowBox .more:hover{
  /*background: url('../image/more_hover.png') no-repeat;*/
  /*background-size:contain;*/
}



.minusHandle,.plusHandle{
  display: block;
  position:absolute;
  right:20px;
  top:110px;
  cursor: pointer;
  box-shadow: 1px 2px 1px rgba(0,0,0,.15);
  cursor: pointer;
  width: 26px;
  height: 26px;
  right: 16px;
  overflow: hidden;
  background-color: #FFF;
  z-index: 10;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}
.minusHandle:hover{
  color: green;
}
.plusHandle{
  top: 80px;
  border-bottom:solid 1px #000;
}
.plusHandle:hover{
  color: green;
}
.snowFont{
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #00c0ef;
  color: #fff;
  text-align: center;
  line-height: 18px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 19px #111;
  -o-box-shadow: 2px 2px 19px #111;
  -webkit-box-shadow: 2px 2px 19px #111;
  -moz-box-shadow: 2px 2px 19px #111;

}
.columnKind{
  cursor: pointer;
}
.snowFont1{
  background-color: red;
}
.snowFont2{
  background-color: #00c0ef;
}
.snowFont3{
  background-color: yellow;
  color: #00c0ef;
}
.snowFont4{
  background-color: #ccc;
  color: #000;
}
.snowFont5{
  background-color: #909;
  color: #FFF;
}
.snowFont6{
  background-color: #228011;
  color: #FFF;
}
.align-right{
  text-align: right;
}
.tipToolbar{
  text-align: right;
  color:#fff;
  padding-right: 10px;
  position: absolute;
  top:18px;
  right: 5px;
  z-index: 1;
}
.tipToolbar span{
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
}
.aLabel{
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #000;
  -moz-box-shadow: 2px 2px 19px #000;
}
.snowclock{
  color:#ccc;
  position: absolute;
  right: 10px;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #000;
  -moz-box-shadow: 2px 2px 19px #000;
  font-size: 12px;
  top: 3px;
}
.snowclock.active{
  color:green;
}
.isfact p:hover .snowclock{
  display: inline-block;
}
 .snowclock{
  display: none;
}
.isfact .snowclock.active{
  color:green;
  display: inline-block;
}
.isfact .noshow.snowclock{
  display: none!important;
}
.snowclock.snowDate{
  right: 25px;

}
.snowclock:hover{
  color:green;
}
.modal_snowtableInfo>div.modal-dialog{
  width: 800px;
}
.modal_snowmodeljson>div.modal-dialog{
  width: 500px;
}
.modal_jointype>div.modal-dialog{
  width: 400px;
}
.modal_dateformat>div.modal-dialog{
  width: 400px;
}
.bar_action{
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 1;

}
.bar_action span{
  cursor: pointer;
  box-shadow: 1px 2px 1px rgba(0,0,0,.15);
  cursor: pointer;
  width: 80px;
  height: 26px;
  /*right: 16px;*/
  overflow: hidden;
  background-color: #FFF;
  z-index: 10;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  margin-left: 4px;
}
.bar_action span:hover{
  color: green;
}
.jsplumb-tips{
  position: absolute;
  display: none;
  background-color: #000;
  left: 35px;
  top: -35px;
  color: #fff;
  border-radius: 2px;
  padding: 5px;
  z-index: 1;
  word-break: normal;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #000;
  -moz-box-shadow: 2px 2px 19px #000;
}
.jsplumb-tips:after{
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  width: 0px;
  height: 0px;
  border: 6px solid transparent;
  border-top-color: #000;
}
p:hover .jsplumb-tips{
  display: block;
}
.input_alias{
  display: none;
  position: absolute;
  top: 25px;
  left: 30px;
  width:244px;
}
.input_alias_save{
  position: absolute;
  right: 4px;
  top: 25px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  display: none;
  background: green;
  color: #fff;
  text-align: center;
 cursor: pointer;
}
.tips_snow{
  width: 320px;
  height: 60px;
  position: absolute;
  background: #000;
  z-index: 999;
  top:40%;
  left: 50%;
  display: none;
  color:#fff;
  text-align: center;
  line-height: 60px;
  margin-left: -160px;
  margin-top: -30px;
  font-weight: bold;
}
.tips_snow.warn{
  color:yellow
}
.tips_snow.error{
  color:red
}
