<div class="user-setting">

  <!--content-->
  <div class="user-setting-content">
    <div class="alert alert-danger animated fadeIn" ng-if="error">{{error}}</div>
    <div class="boxed-group">
      <h3>Change password</h3>
      <div class="boxed-group-inner">
        <form >
          <dl class="form-group" ng-if="!userService.hasRole('ROLE_ADMIN')">
            <dt><label>Old password</label></dt>
            <dd><input class="form-control" ng-model="user.password" type="password"></dd>
          </dl>
          <dl class="form-group">
            <dt><label>New password</label></dt>
            <dd><input class="form-control" ng-model="user.newPassword" type="password">
            </dd>
          </dl>
          <dl class="form-group">
            <dt><label>Confirm new password</label></dt>
            <dd><input class="form-control" ng-model="confirmPassword" type="password"></dd>
          </dl>
          <p>
            <button class="btn" ng-click="resetPassword()">Update password</button>
          </p>
        </form>
      </div>

    </div>


  </div>


</div>
