<div class="user-setting">

  <!--content-->
  <div class="user-setting-content">
    <div class="alert alert-danger animated fadeIn" ng-if="error">{{error}}</div>

    <div class="boxed-group">
      <h3>{{dataKylin.user.profile}}</h3>
      <div class="boxed-group-inner">
        <form >
          <dl class="form-group">
            <dt><label>{{dataKylin.user.user}}</label></dt>
            <dd><input class="form-control" ng-model="user.username" disabled type="text"></dd>
          </dl>
          <dl class="form-group">
            <dt><label>{{dataKylin.user.role}}</label></dt>
            <dd><input class="form-control" ng-model="role" disabled type="text"></dd>
          </dl>
        </form>
      </div>

    </div>

    <div class="boxed-group">
      <h3>{{dataKylin.user.changePassword}}</h3>
      <div class="boxed-group-inner">
        <form >
          <dl class="form-group" ng-if="!userService.hasRole('ROLE_ADMIN')">
            <dt><label>{{dataKylin.user.oldPassword}}</label></dt>
            <dd><input class="form-control" ng-model="user.password" type="password"></dd>
          </dl>
          <dl class="form-group">
            <dt><label>{{dataKylin.user.newPassword}}</label></dt>
            <dd><input class="form-control" ng-model="user.newPassword" type="password">
            </dd>
          </dl>
          <dl class="form-group">
            <dt><label>{{dataKylin.user.confirmNewPassword}}</label></dt>
            <dd><input class="form-control" ng-model="confirmPassword" type="password"></dd>
          </dl>
          <p>
            <button class="btn" ng-click="resetPassword()">{{dataKylin.user.updatePassword}}</button>
          </p>
        </form>
      </div>

    </div>


  </div>


</div>
