<div class="system-setting">
  <!--menu-->
  <div class="system-setting-side">
    <nav class="menu">
      <a ng-class="{'active':activeTab=='system'}" class="menu-item" ng-click="updateActive('system')">{{dataKylin.system.system}}</a>
      <a ng-class="{'active':activeTab=='users'}" class="menu-item" ng-click="updateActive('users');">{{dataKylin.user.users}}</a>
      <!--<a class="js-selected-navigation-item menu-item">Account</a>-->

    </nav>
  </div>
  <!--content-->
  <div class="system-setting-content">
    <div ng-if="activeTab=='users'" ng-include src="'partials/users/userlist.html'" ng-controller="UsersCtrl"></div>
    <div ng-if="activeTab=='system'" ng-include src="'partials/admin/admin.html'" ng-controller="AdminCtrl"></div>
  </div>
</div>

<div ng-include="'partials/users/add_user.html'"></div>
<div ng-include="'partials/users/edit_user.html'"></div>
<div ng-include="'partials/users/resetUserpwd.html'"></div>
