<a class="btn btn-success btn-sm" ng-click="addUser();"  ng-if="userService.hasRole('ROLE_MODELER')"><i class="fa fa-plus"></i> User</a>
<table ng-if="users.length > 0" class="table table-striped table-bordered table-hover dataTable no-footer" style="margin-top:10px;">
  <!--Header-->
  <thead>
  <tr style="cursor: pointer">
    <th ng-repeat="theaditem in tableConfig.usertheaditems"
        ng-click="state.filterAttr= theaditem.attr;state.reverseColumn=theaditem.attr;state.filterReverse=!state.filterReverse;">
      {{theaditem.name}}
      <i ng-if="state.reverseColumn!= theaditem.attr"
         class="fa fa-unsorted"></i>
      <i ng-if="state.reverseColumn== theaditem.attr && !state.filterReverse"
         class="fa fa-sort-asc"></i>
      <i ng-if="state.reverseColumn== theaditem.attr && state.filterReverse"
         class="fa fa-sort-desc"></i>
    </th>
    <th  ng-if="userService.hasRole('ROLE_ADMIN')">Actions</th>
  </tr>
  </thead>
  <!--Body-->
  <tbody>
  <tr ng-class="{accordion:true}" ng-repeat="user in users | orderObjectBy:state.filterAttr:state.filterReverse track by $index">
    <td>
      <i></i>
      {{user.username}}
    </td>
    <td>
      <i class="fa fa-check" ng-if="user.admin"></i>
    </td>

    <td>
      <i class="fa fa-check" ng-if="user.modeler"></i>
    </td>
    <td>
      <i class="fa fa-check" ng-if="user.analyst"></i>
    </td>
    <td>
          <span class="label badge"
                ng-class="{'label-success': user.disabled==false, 'label-default': user.disabled==true}">
                    {{user.disabled?'Disabled':'Enabled'}}
          </span>

    </td>
    <td>
      <div ng-click="$event.stopPropagation();" class="btn-group" ng-if="userService.hasRole('ROLE_ADMIN')">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                data-toggle="dropdown">
          Action <span class="ace-icon fa fa-caret-down icon-on-right"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="editUser(user)">Edit Role</a></li>
          <li><a ng-click="resetPassowrd(user)">Reset Password</a></li>
          <li><a ng-click="dropUser(user, $index)">Drop</a></li>
          <li><a ng-click="enableUser(user, $index)" ng-if="user.disabled" ng-click="">Enable</a></li>
          <li><a ng-click="disableUser(user, $index)" ng-if="!user.disabled">Disable</a></li>

        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>
