
<div class="row" style="margin-top:15px;" ng-controller="SchedulersCtrl">

  <!--No Job-->
  <div ng-if="!state.loading && schedulerJobList.length==0">
    <div no-result text="{{dataKylin.monitor.tip_no_scheduler}}"></div>
  </div>
  <!--Loading Jobs-->
  <div ng-if="state.loading">
    <loading text="{{dataKylin.monitor.tip_loading_schedulers}}"></loading>
  </div>
  <!--Jobs Table Content-->
  <table ng-if="schedulerJobList.length>0" class="table table-striped table-bordered table-hover dataTable no-footer">
    <thead>
      <tr style="cursor: pointer">
        <th ng-repeat="scheduleritem in jobConfig.scheduleritems">
          {{scheduleritem.name}}
        </th>
      </tr>
    </thead>
    <tbody  class="odd table table-striped table-bordered table-hover dataTable no-footer">
    <tr
      ng-repeat="scheduler in schedulerJobList"
      ng-class="{accordion:true}" ng-click="state.selectedScheduler = scheduler"
      style="cursor: pointer"
      class="{{scheduler==state.selectedScheduler? 'tr-highlight': ''}} table-bordered">
      <!--td>
        {{scheduler.name}}
      </td-->
      <td>{{scheduler.related_cube}}</td>
      <td>{{scheduler.scheduled_run_time + scheduler.repeat_interval * scheduler.cur_repeat_count|utcToConfigTimeZone}}</td>
      <td>{{scheduler.first_end_time + scheduler.partition_interval * (scheduler.cur_repeat_count - 1)|utcToConfigTimeZone}}</td>
      <td>{{scheduler.repeat_count}}</td>
      <td>{{scheduler.cur_repeat_count}}</td>
      <td>{{scheduler.repeat_interval}}</td>
      <!--td>{{scheduler.partition_interval}}</td-->
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                  data-toggle="dropdown">
            Action <span class="ace-icon fa fa-caret-down icon-on-right"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <a ng-click="remove(scheduler)" tooltip="{{dataKylin.monitor.tip_schedulerDelete}}">{{dataKylin.monitor.jobDiscard}}</a>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
