<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

  <table width="100%">
    <tr>
    <td width="40%">
        <div>
          <h3>{{dataKylin.system.serverConfig}}<button class="btn btn-xs btn-success" ng-click="getConfig()"><i class="fa fa-refresh"></i></button></h3>
        </div>
        <div style="padding-top: 10px">
            <pre>{{configStr}}</pre>
        </div>
    </td>

    <td width="40%">
        <div>
          <h3>{{dataKylin.system.serverEnvironment}}<button class="btn btn-xs btn-success" ng-click="getEnv()"><i class="fa fa-refresh"></i></button></h3>
        </div>
        <div style="padding-top: 10px">
            <pre>{{envStr}}</pre>
        </div>
    </td>

    <td style="padding-left: 10px;padding-top:50px;">
        <div>
          <h3>{{dataKylin.system.actions}}</h3>
        </div>
        <div style="padding-top: 10px;width: 260px;">
            <!--<button class="btn btn-primary btn-lg btn-block" ng-click="reloadMeta()">-->
                <!--<label tooltip="Reload all metadata and clean cache" style="cursor: pointer;">Reload Metadata</label>-->
            <!--</button>-->
          <a  class="btn btn-primary btn-lg btn-block" tooltip="{{dataKylin.system.tip_reloadMetadata}}" ng-click="reloadMeta()">{{dataKylin.system.reloadMetadata}}</a>
        </div>
        <div style="padding-top: 10px;width: 260px;" ng-if="false">
            <!--<button class="btn btn-success btn-lg btn-block" ng-click="cleanStorage()">-->
                <!--<label tooltip="Clean unused HDFS and HBASE space" style="cursor: pointer;">Clean Up Storage</label>-->
            <!--</button>-->
            <a class="btn btn-success btn-lg btn-block" tooltip="{{dataKylin.system.tip_cleanUpStorage}}" ng-click="cleanStorage()">{{dataKylin.system.cleanUpStorage}}</a>
        </div>
        <div style="padding-top: 10px;width: 260px;" ng-if="isCacheEnabled()">
            <!--<button class="btn btn-primary btn-lg btn-block" ng-click="disableCache()">-->
                <!--<label tooltip="Disable Query Cache" style="cursor: pointer;">Disable Cache</label>-->
            <!--</button>-->
          <a class="btn btn-primary btn-lg btn-block" ng-click="disableCache()">{{dataKylin.system.disableCache}}</a>
        </div>
      <div style="padding-top: 10px;width: 260px;" ng-if="!isCacheEnabled()">
        <!--<button class="btn btn-primary btn-lg btn-block" ng-click="enableCache()">-->
          <!--<label tooltip="Enable Query Cache" style="cursor: pointer;">Enable Cache</label>-->
        <!--</button>-->
        <a  class="btn btn-primary btn-lg btn-block" tooltip="{{dataKylin.system.enableCache}}" ng-click="enableCache()">{{dataKylin.system.enableCache}}</a>
      </div>
      <div style="padding-top: 10px;width: 260px;">
            <!--<button class="btn btn-primary btn-lg btn-block" ng-click="toSetConfig()">-->
                <!--<label tooltip="Update Server Config" style="cursor: pointer;">Set Config</label>-->
            <!--</button>-->
          <a class="btn btn-primary btn-lg btn-block" tooltip="{{dataKylin.system.tip_setConfig}}"  class="btn btn-primary btn-lg"  ng-click="toSetConfig()">{{dataKylin.system.setConfig}}</a>
        </div>
      <div style="padding-top: 10px;width: 260px;">
        <a ng-click="backupGlobal();" tooltip="{{dataKylin.system.tip_backup}}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-briefcase"></i> {{dataKylin.system.backup}}</a>
      </div>
      <div style="padding-top: 10px;width: 260px;">
        <a ng-click="downloadBadQueryFiles();" tooltip="{{dataKylin.system.tip_diagnosis}}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-ambulance"></i> {{dataKylin.system.diagnosis}}</a>
      </div>


        <div>
            <h3>{{dataKylin.system.links}}</h3>
        </div>
        <div style="padding-top: 10px" ng-if="config.reference_links['hadoop']" tooltip="Cluster Resource Monitoring">
            <a class="label-lg label-yellow arrowed-right"style="font-size:18px;" href="{{config.reference_links['hadoop'].link}}" >
                Hadoop Monitor
            </a>
        </div>
    </td>
    </tr>
  </table>

<script type="text/ng-template" id="updateConfig.html">
    <ng-form name="config_update_form">
        <div class="modal-header">
            <h4>{{dataKylin.system.updateConfig}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label><b>{{dataKylin.system.key}}</b></label>

                <div class="clearfix">
                    <input name="key_input" type="text" class="form-control" placeholder="{{dataKylin.system.tip_key}}"
                           ng-model="state.key"
                           required/>

                    <p class="text-warning"
                       ng-show="config_update_form.key_input.$invalid && !config_update_form.key_input.$pristine">&nbsp;&nbsp;{{dataKylin.system.tip_required_key}}</p>
                </div>
            </div>
            <div class="form-group">
                <label><b>{{dataKylin.system.value}}</b></label>

                <div class="clearfix">
                    <input name="value_input" type="text" class="form-control" placeholder="{{dataKylin.system.tip_value}}"
                           ng-model="state.value"
                           required/>

                    <p class="text-warning"
                       ng-show="config_update_form.value_input.$invalid && !config_update_form.value_input.$pristine">&nbsp;&nbsp;{{dataKylin.system.tip_required_value}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">{{dataKylin.system.cancel}}</button>
            <button class="btn btn-success" ng-click="update()">{{dataKylin.system.update}}</button>
        </div>
    </ng-form>
</script>


<script type="text/ng-template" id="actionDiagnosis.html">
  <ng-form name="config_update_form"  >
    <div ng-if="loading"> <loading  text="{{ dataKylin.system.diagnosisFactoryPackage }}" seq="true"></loading></div>
    <span class="kylinDialog_close" ng-click="cancel()"></span>
    <div class="modal-header" ng-if="!loading">
      <h4>{{ dataKylin.diagnosis }}</h4>
    </div>
    <div class="modal-body" ng-if="!loading">
      <div class="form-group dialog_content">
         <p><a>kybot</a>{{ dataKylin.system.diagnosisIntroduce }}（<span>{{ dataKylin.system.diagnosisTimeDis }}</span>）</p>
      </div>
      <div class="form-group dialog_btn">
        <button class="btn btn-primary" ng-click="upload()">{{ dataKylin.system.diagnosisUploadBtn }}</button>
      </div>
      <div class="form-group dialog_content dialog_footer">
       <p><a ng-href="{{dowloadLink}}" target="_blank">{{ dataKylin.system.diagnosisDownloadBtn }}</a>，{{ dataKylin.system.diagnosisUploadByHand }} <i class="fa fa-question-circle"  kylinpopover="" placement="right" ng-title="{{ dataKylin.system.diagnosisForPoorNetwork }}"  template="actionDiagnosisTips.html" ></i></p>
      </div>
    </div>
    <!--<div class="modal-footer">-->
      <!--<button class="btn btn-default" ng-click="cancel()">{{dataKylin.system.cancel}}</button>-->
      <!--<button class="btn btn-success" ng-click="update()">{{dataKylin.system.update}}</button>-->
    <!--</div>-->
  </ng-form>
</script>
<script type="text/ng-template" id="actionDiagnosisTips.html">
  <div id="actionDiagnosisTips">
    <ul>
      <li ng-repeat="tip in dataKylin.system.diagnosisForPoorNetworkActionSeq">{{tip}}</li>
    </ul>
  </div>
</script>
