<div class="modal-header">
  <h4>{{dataKylin.data_source.collectStatisticsConfig}}</h4>
</div>
<div class="modal-body">
  <div>
  <input ng-disabled="isConfirm=='0'" type="text" placeholder="{{dataKylin.data_source.rowCountPlaceHolder}}"  class="form-control" ng-model="rowCount" ng-change="changeVal(rowCount)"/>
  <p style="color:#b94a48" ng-show="validError">{{dataKylin.data_source.rowCountMustInputNumber}}</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">{{dataKylin.cube.close}}</button>
  <button class="btn btn-success" ng-click="loadTable(isConfirm,rowCount)">{{dataKylin.data_source.statistics}}</button>
</div>
