<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="tree-border" ng-controller="SourceMetaCtrl">
    <div class="row">
        <div class="col-xs-7">
            <h3 class="text-info">{{dataKylin.data_source.tables}}</h3>
        </div>

        <!--button-->
        <div class="col-xs-5" style="padding-left: 0px;margin-top: 20px;">
            <div class="pull-right">
              <a class="btn btn-xs btn-primary" tooltip="{{dataKylin.data_source.tip_load_hive_table}}"  ng-if="userService.hasRole('ROLE_ADMIN')"  ng-click="openModal()"><i class="fa fa-download"></i></a>
              <a class="btn btn-xs btn-info" tooltip="{{dataKylin.data_source.tip_load_table_tree}}"  ng-if="userService.hasRole('ROLE_ADMIN')"  ng-click="openTreeModal()"><i class="fa fa-download"></i></a>
              <a class="btn btn-xs btn-info" tooltip="{{dataKylin.data_source.tip_unLoad_hive_table}}"  ng-if="userService.hasRole('ROLE_ADMIN')"  ng-click="openUnLoadModal()"><i class="fa fa-remove"></i></a>
              <a class="btn btn-xs btn-primary" tooltip="{{dataKylin.data_source.tip_add_streaming_table}}"  ng-if="userService.hasRole('ROLE_ADMIN')"  ng-click="openStreamingSourceModal()"><i class="fa fa-area-chart"></i></a>
            </div>
        </div>

    </div>
    <div class="space-4"></div>
    <!--tree-->
    <div style="width:100%; height:{{window}}px; overflow:hidden;">
        <abn-tree
                tree-data         = "tableModel.selectedSrcDb"
                tree-control      = "my_tree"
                icon-leaf         = "fa fa-columns"
                icon-expand       = "fa fa-database"
                icon-collapse     = "fa fa-database"
                expand-level      = "3">
        </abn-tree>
        <div no-result ng-if="tableModel.selectedSrcDb.length == 0"></div>
    </div>
</div>

<script type="text/ng-template" id="addHiveTableFromTree.html">
  <div class="modal-header"><button class="close" type="button" data-dismiss="modal" ng-click="cancel()">×</button>
    <h4>{{dataKylin.data_source.titleAddHiveTableFromTree}}</h4>
  </div>
  <div class="modal-body">
    <span><strong>{{dataKylin.data_source.project}} </strong>{{ $parent.projectName!=null?$parent.projectName:'NULL'}}</span>
    <div class="form-group searchBox" style="margin-top:15px;">
      <input type="text" placeholder="{{dataKylin.data_source.plac_filter}}" class="nav-search-input form-control" ng-model="predicate" />
    </div>
    <loading ng-if="!hiveLoaded" text="{{dataKylin.data_source.tip_loading_databases}}"></loading>
    <treecontrol class="tree-light check" tree-model="treedata" selected-nodes="selectedNodes" filter-expression="predicate" on-selection="showSelected(node)" on-node-toggle="showToggle(node)" options="treeOptions">
      <div ng-if="node.label==''&&node.id==0"><img src="image/ajax-loader.gif">{{dataKylin.data_source.tip_loading_tables}}</div>
      <button class="btn btn-xs btn-default" ng-if="node.label==''&&node.id==65535" ng-click="showMoreClicked($parentNode)">{{dataKylin.data_source.ac_show_more}}</button>
      <button class="btn btn-xs btn-default" ng-if="node.label==''&&node.id==65535" ng-click="showAllClicked($parentNode)">{{dataKylin.data_source.ac_show_all}}</button>
      {{node.label}}
    </treecontrol>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{dataKylin.data_source.cancel}}</button>
    <button class="btn btn-success" ng-click="add()">{{dataKylin.data_source.sync}}</button>
  </div>

</script>

<div ng-include="'partials/tables/table_load.html'"></div>
<div ng-include="'partials/tables/table_unload.html'"></div>
