<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

  <script type="text/ng-template" id="removeHiveTable.html">
    <div class="modal-header">
      <h4>{{dataKylin.data_source.titleRemoveHiveTable}}</h4>
    </div>
    <div class="modal-body">
      <span><strong>{{dataKylin.data_source.project}} </strong>{{ $parent.projectName!=null?$parent.projectName:'NULL'}}</span>
      <label for="tables"> {{dataKylin.data_source.tableNames}}</label>
            <textarea ng-model="$parent.tableNames" class="form-control" id="tables"
                      placeholder="{{dataKylin.data_source.plac_table_with_comma}}"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="remove()">{{dataKylin.data_source.unsync}}</button>
      <button class="btn btn-primary" ng-click="cancel()">{{dataKylin.data_source.cancel}}</button>
    </div>
  </script>
