##
## Copyright (C) 2020 Kyligence Inc. All rights reserved.
##
## http://kyligence.io
##
## This software is the confidential and proprietary information of
## Kyligence Inc. ("Confidential Information"). You shall not disclose
## such Confidential Information and shall use it only in accordance
## with the terms of the license agreement you entered into with
## Kyligence Inc.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
## "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
## LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
## A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
## OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
## SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
## LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
## DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
## THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
## (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
## OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
##
server:
  port: 7070
  tomcat:
    basedir: "${KYLIN_HOME}"
    max-http-form-post-size: 10485760
    accesslog:
      enabled: true
      pattern: '%h %l %u %{User-Agent}i %t "%r" %s %b %D'
  compression:
    enabled: true
    min-response-size: 51200
    mime-types: "text/html,text/xml,text/javascript,application/javascript,application/json,text/css,text/plain,application/vnd.apache.kylin-v2+json;charset=UTF-8,application/vnd.apache.kylin-v4+json;charset=UTF-8"
  servlet:
    context-path: "/kylin"
    encoding:
      charset: UTF-8
  max-http-header-size: 5242880

management:
  endpoint:
    health:
      enabled: true
      show-details: always
    prometheus:
      enabled: true
  endpoints:
    web:
      base-path: "/api"
      exposure:
        include: prometheus,health

  health:
    defaults:
      enabled: false
    metaStore:
      enabled: true
    sparkSqlContext:
      enabled: true
    fileSystem:
      enabled: true
    sparkContext:
      enabled: true
    diskspace:
      enabled: true
    refresh:
      enabled: true

spring:
  servlet:
    multipart:
      max-file-size: "5MB"
      max-request-size: "5MB"
  application:
    name: ${kylin.server.mode}
  web:
    resources:
      chain:
        compressed: true
      cache:
        period: 86400
      static-locations: "file://${KYLIN_HOME}/server/public"
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false
    zookeeper:
      connect-string: ${kylin.env.zookeeper-connect-string}
      discovery:
        root: /kylin/${kylin.metadata.url.unique-id}/services
    nacos:
      discovery:
        enabled: false
  session:
    store-type: NONE
    jdbc:
      table-name: ${kylin.metadata.url.identifier}_session_v2
  main:
    # userGroupService accessService
    allow-circular-references: true
    # userService override
    allow-bean-definition-overriding: true
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
mybatis:
  mapper-locations: classpath:/mybatis-mapper/*Mapper.xml
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

---
spring:
  config:
    activate:
      on-profile: dev
    import: optional:${KYLIN_CONF}/kylin.properties
  session:
    store-type: NONE
  cloud:
    zookeeper:
      enabled: false

---
spring:
  config:
    activate:
      on-profile: sandbox
    import: optional:${KYLIN_CONF}/kylin.properties
  web:
    resources:
      static-locations: "file://${KYLIN_HOME}/kystudio/dist"
