@import '~themescss/common/varless.less';
@import 'mixin.less';
// 纯色
@fff:#fff;
@000:#000;
@grey-1: @color-grey-1;// #BDBDBD;
@grey-2: @color-grey-2;// #EEEEEE;
@grey-3: @color-grey-3;// #E2ECF1;
@grey-4: @color-grey-4;// #F1F7FA;


// 页面基色
@base-color:@color-primary;//#0988DE;
@base-color-1:@color-primary-light-1;//#2294e1;
@base-color-2:@color-primary-light-2;//#3aa0e5;
@base-color-3:@color-primary-light-3;//#53ace8;
@base-color-4:@color-primary-light-4;//#6bb8eb;
@base-color-5:@color-primary-light-5;//#84c4ef;
@base-color-6:@color-primary-light-6;//#9dcff2;
@base-color-7:@color-primary-light-7;//#b5dbf5;
@base-color-8:@color-primary-light-8;//#cee7f8;
@base-color-9:@color-primary-light-9;//#e6f3fc;
@base-color-10:#e5f8fb;
@base-color-11:#087ac8;
@base-color-12:#26A79B;
@base-color-13:#219159;
@base-color-14:#17847A;
// 大背景
@base-background-color:@background-color-base;//#f5f7fa;
@background-color2: #31434B;
@background-color3: #EDEDED;
@menu-active-bgcolor: #1C262A;

//色彩倾向其含义
@normal-color-1:@color-success;//#4cb050;
@normal-color-2:#e8fee9;
@warning-color-1:@color-warning;//#f7ba2a;
@warning-color-2:#fffce0;
@warning-color-3:#fff7b9;
@error-color-1:@color-danger;//#ff4159;
@error-color-2:#feeff1;
@error-color-3: #fdf0f2;
@info-color-1:@color-info;//#909399;

// 文字颜色
@text-title-color:@color-text-primary;//#263238;
@text-normal-color:@color-text-regular;//#455a64;
@text-secondary-color:@color-text-secondary;//#b0bec5;
@text-placeholder-color:@color-text-placeholder;//#cfd8dc;
@text-darkbg-color: @fff;
@text-disabled-color: #8E9FA8;

// 超链接
@link-color:@base-color-2;
@link-hover-color:@base-color;
@block-hover-color:#daedf9;
// 边界颜色
@line-border-color:@text-placeholder-color;//#CFD8DC;
@line-split-color:@text-placeholder-color;//#CFD8DC;
@line-border-color1:@border-color-lighter;//#ebeef5;
@line-border-color2:#384C56;

// 文字尺寸
@text-maintitle-size: 18px;
@text-title-size: 16px;
@text-subtitle-size: 14px;
@text-base-size:@font-size-base;//14px;
@text-assist-size:12px;

// z-index
@normal-index: @index-normal;//1
@top-index: @index-top;//1000
@popper-index:@index-popper; //2000;

//shadow
@box-shadow:@box-shadow-base;
// 其他
// 面包屑背景色
@breadcrumbs-bg-color:#F9FBFC;
@modeledit-bg-color:#e2ecf1;
@modeledit-columntype-color:#89979e;
@modeleditpanel-title-bg-color:#eee;
@tablelink-line-color:#f5a623;
@tablelink-line-overlay-bg-color:@warning-color-2;
@table-stripe-color:#FAFAFA;
@aceditor-border-color:@color-text-secondary;
@aceditor-bg-color:#fafafa;
@dm-bg-color:@block-hover-color;


@font-medium:500;
@font-regular:300;







// ===============================下方为黑色版本css




// 按钮颜色
/* btn-default */
@btn-default-hover: #3396f9;
@btn-default-normal: #1c7ad8;
@btn-default-active: #1d8ce1;
/* btn-position */
@btn-success-hover: #64d668;
@btn-success-normal: #4cb050;
@btn-success-active: #0fae56;
/* btn-warning */
@btn-warning-hover: #ffd063;
@btn-warning-normal: #f4a621;
@btn-warning-active: #e3ab29;
/* btn-negative */
@btn-danger-hover: #ff8686;
@btn-danger-normal: #f44236;
@btn-danger-active: #e14141;
/* btn-info */
@btn-info-hover: #7ccfff;
@btn-info-normal: #50bfff;
@btn-info-active: #45a8e1;

// set the buttons
.setBtner(@color) {
  background: @color;
  border-color: @color;
}
// set the button is plain
.setBtner-plain(@color){
  background: #fff;
  border-color: @color;
  color: @color;
}
// table
@tableBC: #292b38;
@grey-color: #393e53;
@table-border: 1px solid #393e53;
@content-color: #d4d7e3;
@popper-bg: #7881aa;
@input-color: #9095ab;
@input-bg: #20222e;
@input-focus-color: #7881aa;
@tableHBC:#2c2f3c;

// bg-color
@bg-total: #fff;
@bg-top: #2f3243;
@bg-menu: #393e53;
@line-color: #3d4051;
@bg4: #515465;
@bg5: #4f5473;
@bg6: #2b2f42;

// help and changeLanguage
@word-color: #97a8be;

// card
@card-bg: #3f4460;
@card-border: #71779d;

@select: rgba(255,255,255,0.6);

//---size 参数

@left-menu-width:138px;
@left-mini-menu-width:56px;
