<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="page-header" style="height: 50px;">
    <!--Project-->
    <form class=" navbar-left" style="margin-top: 0px !important;" ng-if="userService.isAuthorized()">
        <div class="form-group" ng-if="userService.hasRole('ROLE_MODELER')" >
            <a class="btn btn-xs btn-info" href="projects" tooltip="{{dataKylin.project.manageProject}}"><i class="fa fa-gears"></i></a>
          <a class="btn btn-xs btn-primary" ng-if="userService.hasRole('ROLE_MODELER')" style="width: 29px" tooltip="{{dataKylin.project.addAdd}}" ng-click="toCreateProj()">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </form>
</div>

<div class=" models-main dataTables_wrapper"  style="padding-top:10px;">
  <div ng-class="row">
    <tabset>
      <tab heading="{{dataKylin.data_source.data_source}}" select="modelTabSelected('data_source')" active="tabs[0].active">
        <div class="col-xs-3" ng-include src="'partials/tables/source_table_tree.html'"></div>
        <div class="col-xs-9 models-main">
          <div ng-include src="'partials/tables/table_detail.html'"></div>
        </div>
      </tab>
      <tab heading="{{dataKylin.model.models}}" select="modelTabSelected('models')" active="tabs[1].active">
        <div  ng-include src="'partials/models/models_tree.html'"></div>
      </tab>
      <tab heading="Cubes" select="modelTabSelected('cubes')" active="tabs[2].active">
        <div  ng-include src="'partials/cubes/cubes.html'"></div>
      </tab>
    </tabset>
  </div>

</div>

<div ng-include="'partials/jobs/job_submit.html'"></div>
<div ng-include="'partials/jobs/job_refresh.html'"></div>
<div ng-include="'partials/jobs/job_merge.html'"></div>
<div ng-include="'partials/projects/project_create.html'"></div>
<div ng-include="'partials/models/model_detail.html'"></div>
<div ng-include="'partials/models/model_clone.html'"></div>
