<div class="modal-header">
  <h4 class="box-title lighter">join info</h4>
</div>
<div class="modal-body">
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Join Type:</label>
    <div class="col-xs-12 col-sm-6">
      <input type="radio" name="tabletype" id="inner" ng-model="link.type" value="inner" ng-checked="link.type=='inner'"/> <label for="inner">inner</label>
      <input type="radio" name="tabletype" id="left" ng-model="link.type" value="left" ng-checked="link.type=='left'"/> <label for="left">left</label>
      <input type="radio" name="tabletype" id="remove" ng-model="link.type" value="remove" ng-checked="link.type=='remove'" ng-show="link.type"/> <label for="remove" style="color:red" ng-show="link.type">remove</label>
     </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">cancle</button>
  <button class="btn btn-success" ng-click="editJoinType();">save</button>
</div>
