<div class="modal-header">
  <h4 class="box-title lighter">table info</h4>
</div>
<div class="modal-body">
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Table Name:</label>
    <div class="col-xs-12 col-sm-6">{{table.table||table.database+'.'+table.name}}</div>
  </div>
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Alias Name:</label>
    <div class="col-xs-12 col-sm-6">
      <input class="form-control" value="{{table.alias}}" ng-model="table.alias"><span style="color:red" ng-show="sameError">别名重复啦！</span>
    </div>
  </div>
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Type:</label>
    <div class="col-xs-12 col-sm-6">
      <input type="radio" name="tabletype" id="rft" ng-model="table.kind" value="ROOTFACT" ng-checked="table.kind=='ROOTFACT'"/> <label for="rft">Root Fact Table</label>
      <input type="radio" name="tabletype" id="ft" ng-model="table.kind" value="FACT" ng-checked="table.kind=='FACT'"/> <label for="ft">Fact Table</label>
      <input type="radio" name="tabletype" id="lt" ng-model="table.kind" value="LOOKUP" ng-checked="table.kind=='LOOKUP'"/> <label for="lt">LookUp Table</label>
      <span style="color:red" ng-show="hasRootfactError">已经有一个rootFact table了！</span>
      <span style="color:red" ng-show="hasForeignKeysError">该表已经有外键，不能设置为rootFact table,请先删除外键！</span>
      <span style="color:red" ng-show="hasUnRemoveLink">该表有未删除的关联，无法删除！</span>

    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">cancle</button>
  <button class="btn btn-warn" ng-click="remove()" ng-show="showRemoveBtn">remove</button>
  <button class="btn btn-success" ng-click="editTableInfo();">save</button>
</div>
