<div class="modal-header">
  <h4 class="box-title lighter">table info</h4>
</div>
<div class="modal-body">
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Table Name:</label>
    <div class="col-xs-12 col-sm-6">{{table.database+'.'+table.name}}</div>
  </div>
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Alias Name:</label>
    <div class="col-xs-12 col-sm-6">
      <input class="form-control" value="{{table.alias}}" ng-model="table.alias">
    </div>
  </div>
  <div class="row">
    <label class="col-xs-12 col-sm-3 no-padding-right align-right">Type:</label>
    <div class="col-xs-12 col-sm-6">
      <input type="radio" name="tabletype" id="rft" ng-model="table.isRoot" value="true" ng-checked="table.isRoot"/> <label for="rft">Root Fact Table</label>
      <input type="radio" name="tabletype" id="ft" ng-model="table.kind" value="fact" ng-checked="table.kind=='fact'"/> <label for="ft">Fact Table</label>
      <input type="radio" name="tabletype" id="lt" ng-model="table.kind" value="lookup" ng-checked="table.kind=='lookup'"/> <label for="lt">LookUp Table</label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">cancle</button>
  <button class="btn btn-success" ng-click="editTableInfo();">保存</button>
</div>
