<div class="modal-header">
  <h4 class="box-title lighter">{{dataKylin.snowModel.modelSaveInfo}}</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
      <label class="col-xs-12 col-sm-3 no-padding-right align-right">{{dataKylin.snowModel.modelName}}</label>
      <div class="col-xs-12 col-sm-6">
        <input class="form-control" value="{{model.name}}" ng-model="model.name" ng-disabled="{{!!model.uuid}}">
        <small class="help-block" style="color:red" ng-show="validate.errorRepeatName">{{dataKylin.snowModel.errorRepeat}}</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <label class="col-xs-12 col-sm-3 no-padding-right align-right">{{dataKylin.snowModel.modelDescription}}</label>
      <div class="col-xs-12 col-sm-6">
       <textarea  class="form-control box-default" class="form-control box-default"
                  placeholder="{{dataKylin.snowModel.modelFilterPlaceHolder}}"
                  ng-disabled="cubeLen>0"
                 name="comment" id="comment" ng-model="model.description">{{model.description}}</textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <label class="col-xs-12 col-sm-3 no-padding-right align-right">{{dataKylin.snowModel.modelFilter}}</label>
      <div class="col-xs-12 col-sm-6">
       <textarea  class="form-control box-default"
                  name="comment" id="filter" ng-model="model.filter">{{model.description}}</textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">{{dataKylin.snowModel.cancel}}</button>
  <button class="btn btn-success" ng-click="saveModel();">{{dataKylin.snowModel.save}}</button>
</div>
